*~
*/bin/*
*.class
*.DS_Store
*.project
*.classpath
*/indexDirectory/*
*/target/*
geoParser/src/main/java/org/apache/tika/parser/geo/topic/model/indexDirectory/
geoParser/src/main/java/org/apache/tika/parser/geo/topic/model/allCountries.txt
geoParser/src/main/java/org/apache/tika/parser/geo/topic/model/out
./preprocessForTest/*


